<a href="https://colab.research.google.com/github/roshniharinkhede/EDA/blob/main/imp_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import random
when = ['A few years ago', 'Yesterday', 'Last night', 'A long time ago','On 20th Jan']
who = ['a rabbit', 'an elephant', 'a mouse', 'a turtle','a cat']
name = ['Ali', 'Miriam','daniel', 'Hoouk', 'Starwalker']
residence = ['Barcelona','India', 'Germany', 'Venice', 'England']
went = ['cinema', 'university','seminar', 'school', 'laundry']
happened = ['made a lot of friends','Eats a burger', 'found a secret key', 'solved a mistery', 'wrote a book']

In [ ]:
print(random.choice(when) + ', ' + random.choice(who) + ' that lived in ' + random.choice(residence) + ', went to the ' + random.choice(went) + ' and ' + random.choice(happened))

A long time ago, a mouse that lived in India, went to the cinema and wrote a book

In [ ]:
print(random.choice(when) + ', ' + random.choice(who) + ' that lived in ' + random.choice(residence) + ', went to the ' + random.choice(went) + ' and ' + random.choice(happened))

Yesterday, a turtle that lived in India, went to the university and Eats a burger

In [ ]:
print(random.choice(when) + ', ' + random.choice(who) + ' that lived in ' + random.choice(residence) + ', went to the ' + random.choice(went) + ' and ' + random.choice(happened))

A long time ago, a cat that lived in Barcelona, went to the university and solved a mistery

In [ ]:
print(random.choice(when) + ', ' + random.choice(who) + ' that lived in ' + random.choice(residence) + ', went to the ' + random.choice(went) + ' and ' + random.choice(happened))

A few years ago, a rabbit that lived in Germany, went to the seminar and found a secret key

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
from pandas.core.indexes.interval import date_range
pd.DataFrame(np.random.randn(10,4),index=pd.date_range('2022-11-27',periods=10),columns=['a','b','c','d'])

                   a         b         c         d
2022-11-27  1.901642  0.362483 -0.985137  0.408038
2022-11-28 -0.731515 -1.246702  0.194746  0.261789
2022-11-29 -0.533864  1.974486 -0.424996  0.904972
2022-11-30  0.759940 -0.313317 -0.240648  0.085997
2022-12-01 -0.582475  0.341961  0.603453  0.564488
2022-12-02 -0.514411 -1.210071  0.617336  0.407561
2022-12-03  0.304160  0.228961  0.709524  1.885285
2022-12-04 -0.710406  0.521506  0.762305  0.136255
2022-12-05  0.097908  1.010344  0.474092  0.503735
2022-12-06 -0.405973  0.827910  0.415028 -0.389112

In [ ]:
np.random.seed(20)
df = pd.DataFrame(np.random.randn(10,4),index=pd.date_range('2022-11-27',periods=10),columns=['a','b','c','d'])

In [ ]:
df

                   a         b         c         d
2022-11-27  0.883893  0.195865  0.357537 -2.343262
2022-11-28 -1.084833  0.559696  0.939469 -0.978481
2022-11-29  0.503097  0.406414  0.323461 -0.493411
2022-11-30 -0.792017 -0.842368 -1.279503  0.245715
2022-12-01 -0.044195  1.567633  1.051109  0.406368
2022-12-02 -0.168646 -3.189703  1.120132  1.332778
2022-12-03 -0.243339 -0.130031 -0.109017  1.556186
2022-12-04  0.128778 -2.066949 -0.885493 -1.104579
2022-12-05  0.932866  2.059838 -0.934938 -1.612990
2022-12-06  0.527070 -1.551101  0.329613 -1.136527

In [ ]:
#add new columns

In [ ]:
df['new']= df['c']+df['d']

In [ ]:
df

                   a         b         c         d       new
2022-11-27  0.883893  0.195865  0.357537 -2.343262 -1.985725
2022-11-28 -1.084833  0.559696  0.939469 -0.978481 -0.039012
2022-11-29  0.503097  0.406414  0.323461 -0.493411 -0.169950
2022-11-30 -0.792017 -0.842368 -1.279503  0.245715 -1.033787
2022-12-01 -0.044195  1.567633  1.051109  0.406368  1.457477
2022-12-02 -0.168646 -3.189703  1.120132  1.332778  2.452910
2022-12-03 -0.243339 -0.130031 -0.109017  1.556186  1.447169
2022-12-04  0.128778 -2.066949 -0.885493 -1.104579 -1.990073
2022-12-05  0.932866  2.059838 -0.934938 -1.612990 -2.547928
2022-12-06  0.527070 -1.551101  0.329613 -1.136527 -0.806913

In [ ]:
df["new_column_square"]=df['d'].apply(lambda x: x**2)

In [ ]:
df

,a,b,c,d,new,new_column_square
2022-11-27,0.883893,0.195865,0.357537,-2.343262,-1.985725,5.490876
2022-11-28,-1.084833,0.559696,0.939469,-0.978481,-0.039012,0.957425
2022-11-29,0.503097,0.406414,0.323461,-0.493411,-0.169950,0.243454
2022-11-30,-0.792017,-0.842368,-1.279503,0.245715,-1.033787,0.060376
2022-12-01,-0.044195,1.567633,1.051109,0.406368,1.457477,0.165135
2022-12-02,-0.168646,-3.189703,1.120132,1.332778,2.452910,1.776298
2022-12-03,-0.243339,-0.130031,-0.109017,1.556186,1.447169,2.421716
2022-12-04,0.128778,-2.066949,-0.885493,-1.104579,-1.990073,1.220096
2022-12-05,0.932866,2.059838,-0.934938,-1.612990,-2.547928,2.601737
2022-12-06,0.527070,-1.551101,0.329613,-1.136527,-0.806913,1.291693

In [ ]:
df["new_column_square_log"]=df['d'].apply(lambda x: np.log(x))

In [ ]:
df

,a,b,c,d,new,new_column_square,new_column_square_log
2022-11-27,0.883893,0.195865,0.357537,-2.343262,-1.985725,5.490876,NaN
2022-11-28,-1.084833,0.559696,0.939469,-0.978481,-0.039012,0.957425,NaN
2022-11-29,0.503097,0.406414,0.323461,-0.493411,-0.169950,0.243454,NaN
2022-11-30,-0.792017,-0.842368,-1.279503,0.245715,-1.033787,0.060376,-1.403582
2022-12-01,-0.044195,1.567633,1.051109,0.406368,1.457477,0.165135,-0.900495
2022-12-02,-0.168646,-3.189703,1.120132,1.332778,2.452910,1.776298,0.287266
2022-12-03,-0.243339,-0.130031,-0.109017,1.556186,1.447169,2.421716,0.442238
2022-12-04,0.128778,-2.066949,-0.885493,-1.104579,-1.990073,1.220096,NaN
2022-12-05,0.932866,2.059838,-0.934938,-1.612990,-2.547928,2.601737,NaN
2022-12-06,0.527070,-1.551101,0.329613,-1.136527,-0.806913,1.291693,NaN

In [ ]:
def test(x):
  if(x<0):
    return x
  else:
    return np.log(x)

In [ ]:
df["new_column_square_log"]=df['d'].apply(test)

In [ ]:
df

,a,b,c,d,new,new_column_square,new_column_square_log
2022-11-27,0.883893,0.195865,0.357537,-2.343262,-1.985725,5.490876,-2.343262
2022-11-28,-1.084833,0.559696,0.939469,-0.978481,-0.039012,0.957425,-0.978481
2022-11-29,0.503097,0.406414,0.323461,-0.493411,-0.169950,0.243454,-0.493411
2022-11-30,-0.792017,-0.842368,-1.279503,0.245715,-1.033787,0.060376,-1.403582
2022-12-01,-0.044195,1.567633,1.051109,0.406368,1.457477,0.165135,-0.900495
2022-12-02,-0.168646,-3.189703,1.120132,1.332778,2.452910,1.776298,0.287266
2022-12-03,-0.243339,-0.130031,-0.109017,1.556186,1.447169,2.421716,0.442238
2022-12-04,0.128778,-2.066949,-0.885493,-1.104579,-1.990073,1.220096,-1.104579
2022-12-05,0.932866,2.059838,-0.934938,-1.612990,-2.547928,2.601737,-1.612990
2022-12-06,0.527070,-1.551101,0.329613,-1.136527,-0.806913,1.291693,-1.136527

In [ ]:
def test1(x):
  if x<0:
    return 0
  else:
    return 1

In [ ]:
df['new_a']=df['a'].apply(test1)

In [ ]:
df

,a,b,c,d,new,new_column_square,new_column_square_log,new_a
2022-11-27,0.883893,0.195865,0.357537,-2.343262,-1.985725,5.490876,-2.343262,1
2022-11-28,-1.084833,0.559696,0.939469,-0.978481,-0.039012,0.957425,-0.978481,0
2022-11-29,0.503097,0.406414,0.323461,-0.493411,-0.169950,0.243454,-0.493411,1
2022-11-30,-0.792017,-0.842368,-1.279503,0.245715,-1.033787,0.060376,-1.403582,0
2022-12-01,-0.044195,1.567633,1.051109,0.406368,1.457477,0.165135,-0.900495,0
2022-12-02,-0.168646,-3.189703,1.120132,1.332778,2.452910,1.776298,0.287266,0
2022-12-03,-0.243339,-0.130031,-0.109017,1.556186,1.447169,2.421716,0.442238,0
2022-12-04,0.128778,-2.066949,-0.885493,-1.104579,-1.990073,1.220096,-1.104579,1
2022-12-05,0.932866,2.059838,-0.934938,-1.612990,-2.547928,2.601737,-1.612990,1
2022-12-06,0.527070,-1.551101,0.329613,-1.136527,-0.806913,1.291693,-1.136527,1

In [ ]:
df.sort_values(by= 'b')

,a,b,c,d,new,new_column_square,new_column_square_log,new_a
2022-12-02,-0.168646,-3.189703,1.120132,1.332778,2.452910,1.776298,0.287266,0
2022-12-04,0.128778,-2.066949,-0.885493,-1.104579,-1.990073,1.220096,-1.104579,1
2022-12-06,0.527070,-1.551101,0.329613,-1.136527,-0.806913,1.291693,-1.136527,1
2022-11-30,-0.792017,-0.842368,-1.279503,0.245715,-1.033787,0.060376,-1.403582,0
2022-12-03,-0.243339,-0.130031,-0.109017,1.556186,1.447169,2.421716,0.442238,0
2022-11-27,0.883893,0.195865,0.357537,-2.343262,-1.985725,5.490876,-2.343262,1
2022-11-29,0.503097,0.406414,0.323461,-0.493411,-0.169950,0.243454,-0.493411,1
2022-11-28,-1.084833,0.559696,0.939469,-0.978481,-0.039012,0.957425,-0.978481,0
2022-12-01,-0.044195,1.567633,1.051109,0.406368,1.457477,0.165135,-0.900495,0
2022-12-05,0.932866,2.059838,-0.934938,-1.612990,-2.547928,2.601737,-1.612990,1

In [ ]:
df.index

DatetimeIndex(['2022-11-27', '2022-11-28', '2022-11-29', '2022-11-30',
               '2022-12-01', '2022-12-02', '2022-12-03', '2022-12-04',
               '2022-12-05', '2022-12-06'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
df['new_date']=df.index

In [ ]:
df

,a,b,c,d,new,new_column_square,new_column_square_log,new_a,new_date
2022-11-27,0.883893,0.195865,0.357537,-2.343262,-1.985725,5.490876,-2.343262,1,2022-11-27
2022-11-28,-1.084833,0.559696,0.939469,-0.978481,-0.039012,0.957425,-0.978481,0,2022-11-28
2022-11-29,0.503097,0.406414,0.323461,-0.493411,-0.169950,0.243454,-0.493411,1,2022-11-29
2022-11-30,-0.792017,-0.842368,-1.279503,0.245715,-1.033787,0.060376,-1.403582,0,2022-11-30
2022-12-01,-0.044195,1.567633,1.051109,0.406368,1.457477,0.165135,-0.900495,0,2022-12-01
2022-12-02,-0.168646,-3.189703,1.120132,1.332778,2.452910,1.776298,0.287266,0,2022-12-02
2022-12-03,-0.243339,-0.130031,-0.109017,1.556186,1.447169,2.421716,0.442238,0,2022-12-03
2022-12-04,0.128778,-2.066949,-0.885493,-1.104579,-1.990073,1.220096,-1.104579,1,2022-12-04
2022-12-05,0.932866,2.059838,-0.934938,-1.612990,-2.547928,2.601737,-1.612990,1,2022-12-05
2022-12-06,0.527070,-1.551101,0.329613,-1.136527,-0.806913,1.291693,-1.136527,1,2022-12-06

In [ ]:
df.dtypes

a                               float64
b                               float64
c                               float64
d                               float64
new                             float64
new_column_square               float64
new_column_square_log           float64
new_a                             int64
new_date                 datetime64[ns]
dtype: object

In [ ]:
df['day']=df.index.day
df['month']=df.index.month
df['year']=df.index.year

In [ ]:
df

,a,b,c,d,new,new_column_square,new_column_square_log,new_a,new_date,day,month,year
2022-11-27,0.883893,0.195865,0.357537,-2.343262,-1.985725,5.490876,-2.343262,1,2022-11-27,27,11,2022
2022-11-28,-1.084833,0.559696,0.939469,-0.978481,-0.039012,0.957425,-0.978481,0,2022-11-28,28,11,2022
2022-11-29,0.503097,0.406414,0.323461,-0.493411,-0.169950,0.243454,-0.493411,1,2022-11-29,29,11,2022
2022-11-30,-0.792017,-0.842368,-1.279503,0.245715,-1.033787,0.060376,-1.403582,0,2022-11-30,30,11,2022
2022-12-01,-0.044195,1.567633,1.051109,0.406368,1.457477,0.165135,-0.900495,0,2022-12-01,1,12,2022
2022-12-02,-0.168646,-3.189703,1.120132,1.332778,2.452910,1.776298,0.287266,0,2022-12-02,2,12,2022
2022-12-03,-0.243339,-0.130031,-0.109017,1.556186,1.447169,2.421716,0.442238,0,2022-12-03,3,12,2022
2022-12-04,0.128778,-2.066949,-0.885493,-1.104579,-1.990073,1.220096,-1.104579,1,2022-12-04,4,12,2022
2022-12-05,0.932866,2.059838,-0.934938,-1.612990,-2.547928,2.601737,-1.612990,1,2022-12-05,5,12,2022
2022-12-06,0.527070,-1.551101,0.329613,-1.136527,-0.806913,1.291693,-1.136527,1,2022-12-06,6,12,2022

In [ ]:
df['new_col']=df.index.day_name()

In [ ]:
df

,a,b,c,d,new,new_column_square,new_column_square_log,new_a,new_date,day,month,year,new_col
2022-11-27,0.883893,0.195865,0.357537,-2.343262,-1.985725,5.490876,-2.343262,1,2022-11-27,27,11,2022,Sunday
2022-11-28,-1.084833,0.559696,0.939469,-0.978481,-0.039012,0.957425,-0.978481,0,2022-11-28,28,11,2022,Monday
2022-11-29,0.503097,0.406414,0.323461,-0.493411,-0.169950,0.243454,-0.493411,1,2022-11-29,29,11,2022,Tuesday
2022-11-30,-0.792017,-0.842368,-1.279503,0.245715,-1.033787,0.060376,-1.403582,0,2022-11-30,30,11,2022,Wednesday
2022-12-01,-0.044195,1.567633,1.051109,0.406368,1.457477,0.165135,-0.900495,0,2022-12-01,1,12,2022,Thursday
2022-12-02,-0.168646,-3.189703,1.120132,1.332778,2.452910,1.776298,0.287266,0,2022-12-02,2,12,2022,Friday
2022-12-03,-0.243339,-0.130031,-0.109017,1.556186,1.447169,2.421716,0.442238,0,2022-12-03,3,12,2022,Saturday
2022-12-04,0.128778,-2.066949,-0.885493,-1.104579,-1.990073,1.220096,-1.104579,1,2022-12-04,4,12,2022,Sunday
2022-12-05,0.932866,2.059838,-0.934938,-1.612990,-2.547928,2.601737,-1.612990,1,2022-12-05,5,12,2022,Monday
2022-12-06,0.527070,-1.551101,0.329613,-1.136527,-0.806913,1.291693,-1.136527,1,2022-12-06,6,12,2022,Tuesday

In [ ]:
df.groupby(by = 'new_col').count()

,a,b,c,d,new,new_column_square,new_column_square_log,new_a,new_date,day,month,year
new_col,,,,,,,,,,,,
Friday,1,1,1,1,1,1,1,1,1,1,1,1
Monday,2,2,2,2,2,2,2,2,2,2,2,2
Saturday,1,1,1,1,1,1,1,1,1,1,1,1
Sunday,2,2,2,2,2,2,2,2,2,2,2,2
Thursday,1,1,1,1,1,1,1,1,1,1,1,1
Tuesday,2,2,2,2,2,2,2,2,2,2,2,2
Wednesday,1,1,1,1,1,1,1,1,1,1,1,1